$family-georgia: 'Kristi', cursive;

$yellow: #f3b329;

$green: #49A987;

$dark-green: #2a795d;

$rose: #FEF7E9;

$family-playfair: 'Playfair Display', serif;

$family-playfair-SC: 'Playfair Display SC', serif;

$family-monterrat: 'Montserrat', sans-serif;