$family-georgia: 'Kristi', cursive;

$yellow: #f3b329;

$dark-yellow: #f7a800;

$green: #49A987;

$dark-green: #0f885e;

$rose: #FEF7E9;

$family-playfair: 'Playfair Display', serif;

$family-playfair-SC: 'Playfair Display SC', serif;

$family-monterrat: 'Montserrat', sans-serif;